@import url('style.css');

i{
    color: #f58220;
    font-size: 10px;
}

.btn-accent i{
    color: var(--bg-soft-orange);
}

.badge, .bg-success{
    background-color: var(--brand-primary) !important;
}

.bg-danger{
    background-color: var(--brand-accent) !important;
}